<header class="c1" id="h1">
    <h1>Gusto Market</h1>
    <input id="ch-menu" type="checkbox">
    <label for="ch-menu" id="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>
    <nav>
        <ul class="meniu">
            <li><a href="/index" class="fa-solid fa-house"></a><a href="/index" id="home">Acasă</a>
                <ul>
                    <li><a href="/index#welcome">Bine ați venit</a></li>
                    <li><a href="/index#retetele_saptamanii">Rețetele săptămânale</a></li>
                    <li><a href="/index#promotii">Promoții</a></li>
                    <li><a href="/index#despre">Despre noi</a></li>
                    <li><a href="/index#intrebari">Întrebări frecvente</a></li>
                </ul>
            </li>
            <li><div id="produse">Produse</div>
                <ul>
                    <li><div>Legume</div></li>
                    <li><div>Fructe</div></li>
                    <li><div>Lactate și ouă</div></li>
                    <li><div>Pâine și cereale</div></li>
                    <li><div>Carne</div></li>
                    <li><div>Condimente</div></li>
                </ul>
            </li>
            <li><div id="retete">Rețete</div></li>
            <li><a href="/despre">Despre noi</a></li>
        </ul>
    </nav>
</header>